@charset "UTF-8";
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.25rem;
  color: #FFF;
  line-height: 105%;
  letter-spacing: -0.01em;
  margin-bottom: 2.625rem; }
  h1 i {
    margin-right: 1.5rem;
    color: #81C14B; }

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.25rem;
  line-height: 105%;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin-bottom: 2rem; }
  h2:after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 0.25rem;
    width: 2.25rem;
    background-color: #81C14B; }

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.75rem;
  line-height: 1.1;
  font-weight: 700; }

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.375rem;
  line-height: 105%;
  letter-spacing: -0.01em; }

.text {
  line-height: 1.7; }
  .text > :first-child {
    margin-top: 0; }
  .text > :last-child {
    margin-bottom: 0; }
  .text a {
    text-decoration: underline;
    color: #74B3CE; }
  .text p:last-child {
    margin-bottom: 0; }
  .text ul {
    margin-left: 0;
    padding-left: 0; }
  .text ul > li {
    list-style: none;
    list-style-image: none;
    padding-left: 1rem;
    margin-left: 0;
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.3; }
    .text ul > li:before {
      content: "";
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      color: #74B3CE;
      position: absolute;
      left: 0;
      top: 0.125rem; }

p,
ul,
ol {
  margin: 0 0 1rem 0; }

a {
  text-decoration: underline;
  color: #74B3CE; }
  a:hover, a:active {
    text-decoration: none;
    color: #74B3CE; }

img {
  vertical-align: middle;
  max-width: 100%; }

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none !important;
  padding: 1rem 2rem;
  border-radius: 9999px;
  background: #81C14B;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.25s; }
  .btn:hover {
    background: #468412;
    color: #fff; }
  .btn.buySell {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5d993b+0,81c14b+50,a80000+51,a80000+100 */
    background: #5d993b;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #5d993b 0%, #81c14b 50%, #a80000 51%, #a80000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #5d993b 0%, #81c14b 50%, #a80000 51%, #a80000 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #5d993b 0%, #81c14b 50%, #a80000 51%, #a80000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d993b', endColorstr='#a80000',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    border: none; }
    .btn.buySell:hover {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45752d+0,76a540+50,c40000+51,7f0000+100 */
      background: #45752d;
      /* Old browsers */
      background: -moz-linear-gradient(-45deg, #45752d 0%, #76a540 50%, #c40000 51%, #7f0000 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #45752d 0%, #76a540 50%, #c40000 51%, #7f0000 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, #45752d 0%, #76a540 50%, #c40000 51%, #7f0000 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45752d', endColorstr='#7f0000',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
  .btn.alt {
    background: transparent;
    border: 2px solid #81C14B;
    color: #81C14B; }
    .btn.alt:hover {
      color: #FFF; }
  .btn.small {
    padding: 0.625rem 1rem; }
  .btn.big {
    font-size: 1.375rem; }
  .btn i {
    margin-right: 0.75rem;
    font-size: 1.125rem; }
  .btn.red {
    background-color: #e10a00;
    border-color: #e10a00; }
    .btn.red:hover {
      background-color: #8C0700;
      border-color: #8C0700; }

.form-group.flex {
  display: flex;
  align-items: center;
  margin-top: 1.5rem; }
  .form-group.flex input, .form-group.flex button {
    margin-right: 1rem; }
    .form-group.flex input:last-child, .form-group.flex button:last-child {
      margin-right: 0; }

.form-group.form-submit {
  display: flex;
  justify-content: flex-end; }

select.form-control {
  color: #172A3A;
  height: 3rem;
  padding: 0 0.75rem;
  font-size: 1.125rem;
  width: 100%;
  border: 1px solid #172A3A;
  transition: border-color 0.5s; }
  select.form-control:focus {
    border-color: #81C14B;
    box-shadow: none; }

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]) {
  color: #172A3A;
  height: 3rem;
  padding: 0 1.125rem;
  font-size: 1.125rem;
  width: 100%;
  border: 1px solid #172A3A;
  transition: border-color 0.5s; }
  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):focus {
    border-color: #81C14B;
    box-shadow: none; }

input:-webkit-autofill::first-line {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; }

input[type="submit"],
button[type="submit"],
input[type="button"] {
  border-radius: 9999px;
  background: #81C14B;
  color: #fff;
  border: none;
  padding: 0 1.625rem;
  font-weight: 700;
  outline: 0;
  border: 0;
  height: 3rem;
  box-sizing: border-box;
  border: 2px solid #81C14B; }
  input[type="submit"]:active, input[type="submit"]:focus,
  button[type="submit"]:active,
  button[type="submit"]:focus,
  input[type="button"]:active,
  input[type="button"]:focus {
    border: 2px solid #FFF;
    outline: 1px solid #172A3A;
    background-color: #81C14B;
    box-shadow: none;
    color: #fff; }
    input[type="submit"]:active:focus, input[type="submit"]:active:hover, input[type="submit"]:focus:focus, input[type="submit"]:focus:hover,
    button[type="submit"]:active:focus,
    button[type="submit"]:active:hover,
    button[type="submit"]:focus:focus,
    button[type="submit"]:focus:hover,
    input[type="button"]:active:focus,
    input[type="button"]:active:hover,
    input[type="button"]:focus:focus,
    input[type="button"]:focus:hover {
      background-color: #81C14B;
      outline: 1px solid #172A3A;
      border: 2px solid #FFF;
      color: #fff; }
  input[type="submit"]:hover,
  button[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #468412;
    border: 2px solid #468412; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #172A3A; }

form label {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem; }

.customCheckbox {
  display: flex; }
  .customCheckbox input {
    position: absolute;
    left: -9999px; }
  .customCheckbox input + span {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    box-sizing: border-box;
    border: 1px solid #1040a1;
    border-radius: 4px;
    margin-right: 1rem; }
  .customCheckbox input:focus + span {
    border-color: #74B3CE; }
  .customCheckbox input:checked + span {
    display: flex;
    justify-content: center;
    align-items: center; }
    .customCheckbox input:checked + span:before {
      content: "";
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 700;
      display: block; }

.hint {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.checkbox {
  margin-top: 1.125rem; }

.trendUp, .win {
  color: #00c609; }

.trendDown, .loss {
  color: #e10a00; }

.trendSame {
  color: #172A3A; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #172A3A;
  font-size: 16px;
  background-color: #fff; }

body {
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start; }

.oldContent {
  padding: 0 3.75rem; }

.wrapAll {
  flex: 1 0 auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #172A3A;
  height: 100%;
  overflow: hidden; }
  .wrapAll.notFixed {
    height: auto;
    overflow: visible; }
  .wrapAll.loginBody {
    overflow: hidden;
    position: relative;
    padding: 0 2.25rem;
    height: 100%; }
    .wrapAll.loginBody .oldContent {
      height: 100%; }
    .wrapAll.loginBody + footer {
      position: absolute;
      bottom: 0; }
    .wrapAll.loginBody:before {
      content: "";
      width: 800px;
      height: 800px;
      background: #81C14B;
      display: block;
      position: absolute;
      top: -460px;
      left: -460px;
      transform: rotate(25deg);
      outline: 6px solid #172A3A;
      outline-offset: 1rem; }
    .wrapAll.loginBody:after {
      content: "";
      width: 800px;
      height: 800px;
      background: #81C14B;
      display: block;
      position: absolute;
      bottom: -460px;
      right: -460px;
      transform: rotate(25deg);
      outline: 6px solid #172A3A;
      outline-offset: 1rem; }

.wrapper {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .centered .logo {
    max-width: 600px;
    margin: 0 auto 5rem; }

.loginChoices {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  text-align: center; }
  .loginChoices .btn {
    margin-bottom: 2rem; }

footer {
  text-align: center;
  width: 100%; }

.topBar {
  height: 3.75rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .topBar .left {
    display: flex;
    width: 50%;
    flex-shrink: 0; }
    .topBar .left .logo {
      width: 160px;
      padding: 0.75rem;
      box-sizing: border-box;
      flex-shrink: 0; }
      .topBar .left .logo a {
        width: auto;
        padding: 0;
        border: 0;
        text-decoration: none; }
        .topBar .left .logo a:hover {
          background-color: transparent; }
  .topBar .right {
    display: flex;
    width: 50%;
    flex-shrink: 0;
    justify-content: flex-end;
    height: 100%; }
    .topBar .right .currentGame {
      border-left: 1px solid #ddd;
      padding: 0.5rem;
      text-align: left; }
      .topBar .right .currentGame .label {
        color: #172A3A;
        font-weight: 700;
        font-size: 1.125rem;
        text-align: left;
        padding: 0; }
      .topBar .right .currentGame .value {
        white-space: nowrap;
        font-weight: 500; }
        .topBar .right .currentGame .value a {
          display: inline;
          font-size: 0.875rem;
          border: 0;
          font-weight: 400;
          color: #81C14B;
          text-decoration: underline; }
          .topBar .right .currentGame .value a:hover {
            background-color: transparent;
            text-decoration: none; }
    .topBar .right form {
      display: flex;
      height: 100%; }
  .topBar a, .topBar button {
    width: 3.75rem;
    border: none;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    height: 100%;
    display: flex;
    background: transparent;
    padding: 0;
    border-radius: 0;
    color: #172A3A;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.25s;
    text-decoration: none; }
    .topBar a:hover, .topBar a.active, .topBar button:hover, .topBar button.active {
      border: none;
      background-color: #81C14B;
      color: #FFF;
      border-left: 1px solid #ddd; }

.app {
  height: calc(100% - 3.75rem);
  display: flex; }
  .app .leftBar {
    width: 3.75rem;
    border-right: 1px solid #ddd;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: 10; }
    .app .leftBar a {
      width: 3.75rem;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      height: 3.75rem;
      display: flex;
      background: transparent;
      padding: 0;
      border-radius: 0;
      color: #172A3A;
      margin: 0;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      transition: all 0.25s;
      text-decoration: none;
      position: relative;
      background-color: #FFF; }
      .app .leftBar a:hover, .app .leftBar a.active {
        background-color: #81C14B;
        color: #FFF; }
      .app .leftBar a span {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        display: flex;
        height: 100%;
        background: #FFF;
        transition: all 0.5s;
        white-space: nowrap;
        align-items: center;
        padding: 0 1.5rem;
        color: #172A3A;
        font-family: "Ubuntu", sans-serif;
        font-size: 1.25rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); }
      .app .leftBar a:hover span {
        transform: translateX(100%); }
  .app .mainWindow {
    width: calc(100% - 3.75rem);
    box-sizing: border-box;
    overflow: auto; }

section {
  margin-bottom: 3.75rem; }
  section .actions {
    text-align: center; }
    section .actions a {
      color: #81C14B;
      font-size: 1.125rem;
      font-weight: 700; }

.dashboard .tns-outer {
  position: relative; }
  .dashboard .tns-outer > button {
    display: none; }
  .dashboard .tns-outer .tns-nav {
    position: absolute;
    bottom: 1rem;
    left: 6.75rem;
    z-index: 2; }
    .dashboard .tns-outer .tns-nav > button {
      background: transparent;
      width: 0.875rem;
      height: 0.875rem;
      border: 1px solid #81C14B;
      box-sizing: border-box;
      padding: 0;
      margin-left: 0.3125rem;
      border-radius: 9999px; }
      .dashboard .tns-outer .tns-nav > button.tns-nav-active {
        background: #81C14B; }

.dashboard .tns-inner {
  background-image: url(../images/hero-dashboard.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #172A3A;
  background-blend-mode: lighten;
  position: relative;
  z-index: 1; }
  .dashboard .tns-inner:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#172a3a+0,172a3a+31,ffffff+100&1+0,1+31,0+100 */
    background: -moz-linear-gradient(left, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3a', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */ }

.dashboard .newsfeed {
  color: #FFF;
  margin: 0; }
  .dashboard .newsfeed .newsText {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .dashboard .newsfeed .slide {
    position: relative;
    padding: 0 3rem; }
    .dashboard .newsfeed .slide > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 440px; }
    .dashboard .newsfeed .slide .tag {
      background: #e10a00;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;
      display: inline-block;
      font-size: 0.875rem; }
    .dashboard .newsfeed .slide .image {
      border-radius: 0.75rem;
      overflow: hidden;
      max-height: 250px;
      max-width: 600px;
      border: 2px solid #172A3A; }
      .dashboard .newsfeed .slide .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .dashboard .newsfeed .slide .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #172A3A; }
      .dashboard .newsfeed .slide .img:before {
        content: "";
        width: 35%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#172a3a+0,ffffff+100&1+0,0+100 */
        background: -moz-linear-gradient(left, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3a', endColorstr='#00ffffff',GradientType=1 );
        /* IE6-9 */ }
      .dashboard .newsfeed .slide .img:after {
        content: "";
        width: 35%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,172a3a+100&0+0,1+100 */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #172a3a 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #172a3a 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #172a3a 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#172a3a',GradientType=1 );
        /* IE6-9 */ }
    .dashboard .newsfeed .slide .left {
      max-width: 50%;
      font-size: 1.25rem;
      position: relative;
      padding-left: 3.75rem; }
      .dashboard .newsfeed .slide .left h2 {
        font-size: 3rem;
        margin-bottom: 1rem; }
        .dashboard .newsfeed .slide .left h2:after {
          display: none; }
      .dashboard .newsfeed .slide .left .btn {
        margin-top: 1.25rem; }
    .dashboard .newsfeed .slide .right {
      position: relative;
      max-width: 400px; }

.dashboard .twoCols {
  display: flex;
  justify-content: space-between; }
  .dashboard .twoCols > .left {
    flex: 1;
    margin-right: 2rem;
    padding: 2rem; }
  .dashboard .twoCols > .right {
    width: 450px;
    padding: 2rem;
    background-color: #EFEFEF; }
    .dashboard .twoCols > .right .title {
      margin-bottom: 1.375rem;
      flex-wrap: wrap; }
      .dashboard .twoCols > .right .title .episode {
        width: 100%;
        margin-top: 0.5rem; }
      .dashboard .twoCols > .right .title h3 {
        margin: 0; }
    .dashboard .twoCols > .right .activities a {
      color: #172A3A;
      text-decoration: none;
      display: block;
      margin-bottom: 1rem; }
      .dashboard .twoCols > .right .activities a:hover h4 {
        color: #81C14B; }
      .dashboard .twoCols > .right .activities a h4 {
        margin: 0 0 0.25rem;
        transition: all 0.5s; }
  .dashboard .twoCols h2 i {
    margin-right: 1rem; }
  .dashboard .twoCols h2:after {
    margin-top: 1.25rem;
    width: 5.625rem; }

.dashboard .resume {
  display: flex;
  margin-bottom: 2rem; }
  .dashboard .resume > div {
    flex: 1;
    margin-right: 2rem; }
    .dashboard .resume > div.noPadding {
      padding: 0; }
    .dashboard .resume > div:last-child {
      margin-right: 0; }
    .dashboard .resume > div .whiteBlock + .whiteBlock {
      margin-top: 2rem; }
  .dashboard .resume .whiteBlock {
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    border-radius: 0.75rem; }
    .dashboard .resume .whiteBlock .graph {
      margin: 2rem 0 0; }
    .dashboard .resume .whiteBlock .wealth {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 1.5rem;
      text-align: left; }
      .dashboard .resume .whiteBlock .wealth .img {
        height: 160px;
        margin-right: 1.5rem;
        text-align: center;
        width: 50%; }
        .dashboard .resume .whiteBlock .wealth .img img {
          height: 100%;
          width: 100%;
          object-fit: contain; }
  .dashboard .resume i {
    font-size: 2.625rem; }
  .dashboard .resume h3 {
    margin: 0; }
  .dashboard .resume h4 {
    font-weight: 700; }
  .dashboard .resume .value {
    font-size: 2rem;
    font-weight: 700; }
  .dashboard .resume .table {
    width: 100%;
    margin-bottom: 0.5rem; }
    .dashboard .resume .table .head, .dashboard .resume .table .data > a {
      display: flex;
      width: 100%;
      text-decoration: none;
      color: #172A3A;
      transition: all 0.5s; }
      .dashboard .resume .table .head > div, .dashboard .resume .table .data > a > div {
        flex: 1;
        text-align: right; }
      .dashboard .resume .table .head > :first-child, .dashboard .resume .table .data > a > :first-child {
        flex: 2;
        text-align: left; }
    .dashboard .resume .table .head > div {
      padding: 0.75rem 0.75rem;
      font-weight: bold; }
    .dashboard .resume .table .data > a:nth-child(odd) {
      background: rgba(0, 0, 0, 0.1); }
    .dashboard .resume .table .data > a .trendUp, .dashboard .resume .table .data > a .trendDown, .dashboard .resume .table .data > a .trendSame {
      transition: all 0.5s; }
    .dashboard .resume .table .data > a:hover {
      background: #81C14B;
      color: #fff; }
      .dashboard .resume .table .data > a:hover .trendUp, .dashboard .resume .table .data > a:hover .trendDown, .dashboard .resume .table .data > a:hover .trendSame {
        color: #FFF; }
    .dashboard .resume .table .data > a > div {
      padding: 0.375rem 0.75rem; }
      .dashboard .resume .table .data > a > div + div {
        white-space: nowrap; }
    .dashboard .resume .table .data > a i {
      font-size: 0.875rem;
      margin-right: 0.5rem; }

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .title h2 {
    margin-top: 0; }
    .title h2:after {
      margin-top: 1.25rem;
      width: 5.625rem; }
    .title h2 i {
      margin-right: 1rem; }
  .title .btn {
    padding: 0.5rem 1rem; }

.modal-content {
  min-width: 800px;
  border-radius: 0.75rem;
  overflow: hidden;
  border: none; }

.modal-header {
  background-color: #172A3A;
  color: #FFF;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  border: none; }
  .modal-header:before, .modal-header:after {
    display: none; }
  .modal-header h4 {
    font-size: 1.625rem;
    display: flex;
    align-items: center;
    margin: 0; }
    .modal-header h4 i {
      margin-right: 1.5rem; }
  .modal-header button {
    color: #FFF;
    position: static;
    font-size: 1.75rem;
    margin: 0;
    opacity: 1; }
    .modal-header button:hover {
      color: #FFF;
      opacity: 0.7; }

.tradeInfos {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  background-color: #172A3A;
  color: #FFF;
  font-size: 1.25rem; }
  .tradeInfos .value {
    font-weight: bold;
    color: #81C14B; }
  .tradeInfos .availableMoney {
    margin-bottom: 0.5rem; }

.modal-body {
  padding: 1.5rem; }

.modal-actions {
  display: flex;
  border-top: 1px solid #172A3A;
  padding: 1.5rem; }
  .modal-actions > div {
    flex: 1;
    margin-right: 1.5rem; }
    .modal-actions > div:last-child {
      margin: 0; }
  .modal-actions input, .modal-actions buton {
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
    height: auto;
    border: none;
    width: 100%; }
    .modal-actions input:disabled, .modal-actions buton:disabled {
      background: #DCDCDC;
      pointer-events: none; }
    .modal-actions input:hover, .modal-actions buton:hover {
      border: none; }
    .modal-actions input i, .modal-actions buton i {
      font-size: 1.375rem;
      margin-right: 0.75rem; }
  .modal-actions .error {
    color: #e10a00;
    margin-top: 0.5rem; }

.walletHero {
  padding: 4rem 3rem 4rem 6rem;
  background-color: #172A3A;
  min-height: 300px;
  color: #FFF;
  position: relative;
  z-index: 1; }
  .walletHero .img {
    background-image: url(/images/hero-wallet.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #172A3A;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: -1; }
    .walletHero .img:before {
      content: "";
      width: 35%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: -moz-linear-gradient(left, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
      background: -webkit-linear-gradient(left, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
      background: linear-gradient(to right, #172a3a 0%, rgba(255, 255, 255, 0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3a', endColorstr='#00ffffff',GradientType=1 ); }
  .walletHero .flex {
    display: flex; }
    .walletHero .flex .left {
      width: 40%; }
      .walletHero .flex .left .walletInfo h2 {
        font-size: 1.5rem;
        font-weight: 400; }
        .walletHero .flex .left .walletInfo h2:after {
          margin-top: 0.75rem; }
      .walletHero .flex .left .walletInfo .row {
        margin-bottom: 2rem;
        display: flex;
        margin-left: 0;
        margin-right: 0; }
        .walletHero .flex .left .walletInfo .row > div {
          margin-right: 3.75rem; }
      .walletHero .flex .left .walletInfo h3 {
        font-weight: normal;
        font-size: 1.5rem;
        font-family: "Roboto", sans-serif; }
      .walletHero .flex .left .walletInfo .value {
        font-weight: bold;
        font-size: 2rem;
        color: #81C14B; }
      .walletHero .flex .left .walletInfo .moreInfosRow .value {
        font-size: 1.5rem; }
    .walletHero .flex .wrapGraph {
      background: #FFF;
      padding: 2rem;
      flex: 1;
      border-radius: 0.75rem;
      overflow: hidden; }
  .walletHero h2 {
    margin-bottom: 0.75rem;
    margin-top: 1.5rem; }
  .walletHero .moreInfosRow {
    display: flex; }
    .walletHero .moreInfosRow > div {
      margin-right: 2rem; }

.analysisHero {
  background-image: url(../images/analysis-hero.jpg);
  background-size: 66% auto;
  background-repeat: no-repeat;
  background-position: right;
  padding: 4rem 3rem 4rem 6rem;
  background-color: #172A3A;
  min-height: 300px;
  color: #FFF;
  position: relative;
  z-index: 1; }
  .analysisHero:before {
    content: "";
    width: 66%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#172a3a+0,172a3a+31,ffffff+100&1+0,1+31,0+100 */
    background: -moz-linear-gradient(left, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #172a3a 0%, #172a3a 31%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3a', endColorstr='#00ffffff',GradientType=1 );
    /* IE6-9 */ }
  .analysisHero .date {
    font-size: 1.5rem; }
    .analysisHero .date i {
      margin-right: 1rem;
      font-size: 1.75rem; }

.mywallet .twoCols, .myanalysis .twoCols {
  display: flex; }
  .mywallet .twoCols > .left, .myanalysis .twoCols > .left {
    width: 100%;
    padding: 2rem; }

.wrapActions > div {
  display: flex;
  padding: 1.125rem 0;
  font-size: 1rem;
  align-items: center; }
  .wrapActions > div:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1); }
  .wrapActions > div > div {
    padding: 0 0.75rem; }
  .wrapActions > div .logo {
    width: 120px;
    height: 60px; }
    .wrapActions > div .logo img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .wrapActions > div .name {
    width: 25%; }
  .wrapActions > div b {
    font-weight: 700;
    font-size: 1.25rem; }
  .wrapActions > div .totalValue {
    width: 10%; }
  .wrapActions > div .variant i {
    margin-right: 0.5rem; }
  .wrapActions > div .actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.wrapAnalysis > div {
  display: flex;
  padding: 1.125rem 0;
  font-size: 1rem;
  align-items: center; }
  .wrapAnalysis > div.sector {
    border-bottom: 2px solid #81C14B;
    font-weight: bold;
    margin-top: 2.25rem;
    padding: 0.5rem 0;
    align-items: flex-end; }
    .wrapAnalysis > div.sector:first-child {
      margin-top: 0; }
    .wrapAnalysis > div.sector + div {
      background: transparent; }
      .wrapAnalysis > div.sector + div + div:not(.sector) {
        background: rgba(0, 0, 0, 0.05); }
    .wrapAnalysis > div.sector > .logoName {
      padding: 0; }
  .wrapAnalysis > div > div {
    padding: 0 0.75rem; }
  .wrapAnalysis > div .logoName {
    width: calc(120px + 25%);
    font-size: 1.25rem; }
  .wrapAnalysis > div .logo {
    width: 120px;
    height: 60px; }
    .wrapAnalysis > div .logo img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .wrapAnalysis > div .name {
    width: 25%; }
    .wrapAnalysis > div .name a {
      color: #172A3A;
      text-decoration: none; }
      .wrapAnalysis > div .name a:hover {
        color: #74B3CE; }
  .wrapAnalysis > div .events {
    width: 10%;
    display: flex; }
    .wrapAnalysis > div .events i {
      font-size: 1.75rem;
      margin-right: 0.625rem; }
  .wrapAnalysis > div .benefice {
    width: 10%; }
  .wrapAnalysis > div .dividend {
    width: 15%; }
  .wrapAnalysis > div .price {
    width: 10%; }
    .wrapAnalysis > div .price i {
      margin-right: 0.5rem; }
  .wrapAnalysis > div b {
    font-weight: 700;
    font-size: 1.25rem; }
  .wrapAnalysis > div .actions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.detailHero {
  padding: 3rem;
  background-color: #172A3A;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(/images/hero-detail.jpg);
  background-size: cover;
  position: relative;
  z-index: 1; }
  .detailHero:after {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    display: block;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,172a3a+11,172a3a+100&0+0,1+11,1+100 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#172a3a',GradientType=1 );
    /* IE6-9 */ }
  .detailHero .left {
    width: 55%;
    font-size: 1.25rem;
    position: relative; }
    .detailHero .left .back {
      margin-bottom: 3.75rem;
      font-size: 1rem; }
      .detailHero .left .back a {
        color: #74B3CE; }
        .detailHero .left .back a i {
          margin-right: 0.75rem; }
    .detailHero .left .logoAndName {
      display: flex; }
      .detailHero .left .logoAndName .logo {
        max-width: 150px;
        text-align: left;
        margin-right: 3rem; }
      .detailHero .left .logoAndName h1 {
        margin-top: 0; }
    .detailHero .left .infos {
      display: flex;
      margin-bottom: 3.75rem; }
      .detailHero .left .infos > div {
        margin-right: 3.75rem; }
      .detailHero .left .infos .label {
        font-size: 1.125rem;
        margin: 0;
        padding: 0; }
      .detailHero .left .infos .value {
        font-size: 1.5rem; }
  .detailHero .right {
    position: relative;
    flex: 1;
    padding-right: 3.75rem; }
    .detailHero .right .nav-tabs {
      float: right;
      border: none; }
      .detailHero .right .nav-tabs li {
        background: #FFF; }
        .detailHero .right .nav-tabs li a {
          cursor: pointer; }
        .detailHero .right .nav-tabs li.active {
          background: #81C14B;
          pointer-events: none; }

.detailsPage .twoCols {
  display: flex;
  justify-content: space-between; }
  .detailsPage .twoCols > .left {
    flex: 1;
    margin-right: 2rem;
    padding: 2rem; }
  .detailsPage .twoCols > .right {
    width: 450px;
    padding: 2rem;
    background-color: #EFEFEF;
    font-size: 1rem; }
    .detailsPage .twoCols > .right .title {
      margin-bottom: 1.375rem;
      position: relative;
      padding-left: 3rem;
      margin-bottom: 1rem;
      margin-top: 2.625rem; }
      .detailsPage .twoCols > .right .title:first-child {
        margin-top: 0; }
      .detailsPage .twoCols > .right .title h3 {
        margin: 0; }
      .detailsPage .twoCols > .right .title i {
        position: absolute;
        top: 0;
        left: 0; }
    .detailsPage .twoCols > .right .img {
      max-height: 150px;
      overflow: hidden;
      border: 1px solid #172A3A;
      margin-bottom: 0.75rem; }
      .detailsPage .twoCols > .right .img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .detailsPage .twoCols > .right .text b {
      display: block; }
    .detailsPage .twoCols > .right table td {
      padding: 0.25rem; }
    .detailsPage .twoCols > .right table td:first-child {
      padding-left: 0; }
  .detailsPage .twoCols .wrapChart {
    margin-bottom: 3.75rem; }

.wrapContent {
  padding: 3rem; }

.newMember {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold; }
  .newMember i {
    font-size: 7.5rem;
    margin-bottom: 1.5rem; }
  .newMember .btn {
    margin-top: 2.625rem; }

.highlight {
  background-color: #74B3CE;
  color: #FFF;
  font-weight: 700; }

.wrapTeams {
  display: flex; }
  .wrapTeams + a {
    margin-top: 1.5rem;
    width: 100%; }
  .wrapTeams > div {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
    width: calc((100% - 2.5rem) / 4);
    box-sizing: border-box;
    margin: 0 1.25rem 1.25rem 0; }
    .wrapTeams > div:nth-child(4n) {
      margin-right: 0; }
    .wrapTeams > div h4 {
      margin: 0 0 0.625rem; }
      .wrapTeams > div h4 a {
        color: #172A3A; }
    .wrapTeams > div p {
      margin-bottom: 0; }

.filters {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem; }
  .filters h3 {
    margin: 0; }

.orderBy {
  margin-left: 5rem;
  align-items: center; }
  .orderBy .fakeSelect {
    position: relative;
    margin-left: 0.75rem; }
    .orderBy .fakeSelect ul {
      padding: 0;
      margin: 0; }
      .orderBy .fakeSelect ul li {
        padding: 0; }
        .orderBy .fakeSelect ul li a {
          color: #172A3A;
          text-decoration: none; }
    .orderBy .fakeSelect:hover .values {
      display: block; }
    .orderBy .fakeSelect .currentValue {
      border: 1px solid #172A3A;
      padding: 0.5rem 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 200px; }
      .orderBy .fakeSelect .currentValue i {
        margin-left: 0.5rem; }
      .orderBy .fakeSelect .currentValue li {
        display: none; }
        .orderBy .fakeSelect .currentValue li.active {
          display: block; }
        .orderBy .fakeSelect .currentValue li a {
          pointer-events: none; }
    .orderBy .fakeSelect .values {
      position: absolute;
      top: 100%;
      left: 0;
      border: 1px solid #172A3A;
      width: 100%;
      background: #FFF;
      display: none; }
      .orderBy .fakeSelect .values li {
        list-style: none; }
        .orderBy .fakeSelect .values li a {
          background: #FFF;
          padding: 0.5rem 0.75rem;
          display: block;
          transition: all 0.5s; }
          .orderBy .fakeSelect .values li a:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1); }

.wrapRanking th {
  text-align: right; }

.wrapRanking .position {
  width: 50px;
  font-weight: bold;
  font-size: 1.125rem; }

.wrapRanking .nameAndTotal {
  display: flex;
  flex-direction: column; }
  .wrapRanking .nameAndTotal b {
    font-size: 1.125rem; }

.wrapRanking .table > tbody tr > td {
  vertical-align: middle; }

.flex {
  display: flex;
  width: 100%; }
  .flex .right {
    flex: 1; }

.nav-tabs {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #cacaca; }
  .nav-tabs li {
    border: none !important; }
    .nav-tabs li.active {
      background: #81C14B;
      pointer-events: none; }
      .nav-tabs li.active a {
        color: #FFF !important; }
    .nav-tabs li a {
      border: none !important;
      background: transparent !important;
      text-decoration: none;
      font-weight: bold;
      color: #172A3A;
      margin: 0;
      transition: all 0.25s; }
      .nav-tabs li a:hover {
        background: rgba(0, 0, 0, 0.075) !important; }

.graph-transition {
  animation: transitionY 1s ease; }

.portfolio-graph {
  height: 16.5rem; }

.details-graph {
  height: 20rem;
  width: 55vw; }

@media screen and (max-width: 1600px) {
  .dashboard .twoCols > .right {
    width: 300px; }
  .dashboard .newsfeed .slide .left {
    padding-left: 0; } }

@media screen and (max-width: 1280px) {
  html {
    min-width: 1280px; }
  .dashboard .newsfeed .slide .right {
    max-width: 300px; }
  .wrapAll.loginBody:before {
    top: -51.25rem;
    left: -25rem; }
  .wrapAll.loginBody:after {
    bottom: -51.25rem;
    right: -25rem; } }

@media screen and (min-width: 768px) {
  .m {
    display: none !important; }
  .d {
    display: flex; } }

@media screen and (max-width: 768px) {
  .m {
    display: flex; }
  .d {
    display: none !important; }
  .btn {
    height: 3rem;
    display: inline-flex;
    align-items: center;
    padding: 0 1.5rem; }
  html {
    height: auto;
    min-width: 320px;
    font-size: 14px; }
  .login.centered {
    padding: 0 1.5rem; }
    .login.centered .loginChoices {
      padding: 0 3rem; }
  .form-group.flex {
    flex-direction: column; }
    .form-group.flex button {
      margin-right: 0;
      margin-bottom: 1rem; }
  .wrapAll.loginBody:before {
    top: -51.25rem;
    left: -36.25rem; }
  .wrapAll.loginBody:after {
    bottom: -51.25rem;
    right: -36.25rem; }
  .topBar {
    position: relative;
    z-index: 20;
    background: #FFF; }
  h2 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.5rem; }
  .centered .logo {
    margin-bottom: 3rem; }
  .app .mainWindow {
    width: 100%; }
  .dashboard .newsfeed .slide {
    padding: 1.5rem;
    height: 21.25rem; }
    .dashboard .newsfeed .slide .left {
      max-width: 100%;
      font-size: 1rem;
      padding-right: 1rem;
      flex: 1; }
      .dashboard .newsfeed .slide .left h2 {
        font-size: 1.5rem; }
    .dashboard .newsfeed .slide .right {
      width: 4rem; }
    .dashboard .newsfeed .slide .img {
      width: 100%; }
  .dashboard .twoCols {
    flex-direction: column; }
    .dashboard .twoCols > .left {
      margin-right: 0; }
    .dashboard .twoCols > .right {
      width: 100%; }
  .dashboard .resume {
    flex-direction: column; }
    .dashboard .resume > div {
      margin-right: 0; }
    .dashboard .resume .whiteBlock {
      background: transparent;
      box-shadow: none;
      padding: 0;
      text-align: left;
      margin-bottom: 1.5rem;
      width: 100%;
      flex-shrink: 0; }
      .dashboard .resume .whiteBlock.infoSupp {
        display: block; }
      .dashboard .resume .whiteBlock .graph {
        width: 100%;
        margin: 0; }
      .dashboard .resume .whiteBlock:last-child {
        margin-bottom: 0; }
      .dashboard .resume .whiteBlock i {
        font-size: 1.75rem;
        margin-right: 1.5rem;
        width: 1.875rem; }
      .dashboard .resume .whiteBlock h4 {
        font-size: 1.25rem;
        margin: 0 0 0.25rem;
        font-weight: 400; }
      .dashboard .resume .whiteBlock .value {
        font-size: 1.5rem; }
      .dashboard .resume .whiteBlock .wealth .img {
        width: 25%;
        height: auto; }
  .dashboard .wallet .whiteBlock {
    display: flex;
    align-items: center; }
  .title .btn {
    display: none; }
  section .actions {
    text-align: left; }
  .dashboard .resume .table .head > div {
    padding-top: 0; }
  section {
    margin-bottom: 3rem; }
  .walletInfo {
    margin-top: 1.5rem; }
  .orderBy .fakeSelect {
    margin-left: 0; }
  .menuMobile {
    position: absolute;
    top: 3.75rem;
    left: 0;
    background: #FFF;
    flex-direction: column;
    width: 100%;
    padding: 0.75rem 0;
    z-index: 10;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25); }
    .menuMobile.hidden {
      transform: translateY(-120%); }
    .menuMobile a {
      display: block;
      padding: 0.625rem 1.5rem;
      color: #172A3A;
      font-size: 1.25rem;
      text-decoration: none; }
      .menuMobile a.active, .menuMobile a:hover {
        background: #81C14B;
        color: #FFF; }
      .menuMobile a i {
        margin-right: 0.625rem; }
    .menuMobile form .btn {
      float: right;
      margin-right: 1.5rem; }
  .wrapContent {
    padding: 1.5rem; }
  .wrapTeams > div {
    width: 100%;
    margin: 0 0 0.75rem; }
  .mywallet .twoCols > .left, .myanalysis .twoCols > .left {
    padding: 1.5rem; }
  h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 2rem; }
  .walletHero, .analysisHero {
    padding: 2rem;
    min-height: 0;
    background-size: auto 100%; }
    .walletHero:before, .analysisHero:before {
      width: 100%; }
  .walletHero .date {
    font-size: 1rem; }
  .walletHero .date i {
    font-size: 1.25rem; }
  .logoName h3 {
    margin-top: 0; }
  .wrapAnalysis > div {
    flex-wrap: wrap; }
    .wrapAnalysis > div .logo {
      width: 15%;
      margin-right: 5%;
      padding: 0; }
    .wrapAnalysis > div .name {
      width: 80%;
      padding: 0; }
    .wrapAnalysis > div .events {
      width: 100%;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      flex-direction: column; }
      .wrapAnalysis > div .events > a > div {
        display: flex;
        width: 100%;
        margin-bottom: 0.5rem;
        align-items: center; }
        .wrapAnalysis > div .events > a > div i {
          width: 1.75rem;
          flex-shrink: 0;
          margin-right: 0.5rem; }
    .wrapAnalysis > div .benefice, .wrapAnalysis > div .price, .wrapAnalysis > div .dividend {
      width: 100%;
      display: flex; }
  .wrapAnalysis > div.sector + div, .wrapAnalysis > div.sector + div ~ div:not(.sector) {
    padding: 1.5rem; }
  .wrapAnalysis > div .events i {
    font-size: 1.25rem; }
  .wrapAnalysis > div .actions {
    margin-top: 1.5rem; }
    .wrapAnalysis > div .actions .btn {
      width: 100%; }
  .detailHero {
    padding: 1.5rem;
    flex-direction: column; }
    .detailHero:after {
      width: 100%;
      height: 70%;
      bottom: 0;
      top: auto;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,172a3a+11,172a3a+100&0+0,1+11,1+100 */
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #172a3a 11%, #172a3a 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#172a3a',GradientType=0 );
      /* IE6-9 */ }
    .detailHero .left {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .detailHero .left .back {
        margin-bottom: 2rem;
        width: 100%; }
      .detailHero .left .btn {
        margin-left: auto;
        margin-right: auto;
        min-width: 200px; }
      .detailHero .left .logoAndName {
        width: 100%; }
        .detailHero .left .logoAndName .logo {
          width: 5rem;
          margin-right: 1.5rem;
          flex-shrink: 0; }
        .detailHero .left .logoAndName h1 {
          font-size: 1.75rem; }
      .detailHero .left .infos .value {
        font-size: 1.125rem; }
      .detailHero .left .infos > div {
        margin-right: 2rem; }
    .detailHero .right {
      padding-right: 0;
      margin-top: 2rem; }
      .detailHero .right .nav-tabs {
        float: none;
        display: inline-flex; }
    .detailHero > .left, .detailHero .right {
      width: 100%; }
  .detailsPage .twoCols {
    display: block; }
    .detailsPage .twoCols > .left {
      margin-right: 0; }
    .detailsPage .twoCols > .right {
      width: 100%; }
      .detailsPage .twoCols > .right tr {
        display: block; }
  .walletHero .flex {
    flex-direction: column-reverse; }
    .walletHero .flex .left {
      width: 100%; }
      .walletHero .flex .left .walletInfo h3 {
        font-size: 1.125rem;
        margin-top: 0; }
      .walletHero .flex .left .walletInfo .value {
        font-size: 1.5rem; }
      .walletHero .flex .left .walletInfo .row > div {
        margin-right: 1.875rem;
        flex: 1; }
        .walletHero .flex .left .walletInfo .row > div:last-child {
          margin-right: 0; }
    .walletHero .flex .right {
      width: 100%; }
  .wrapActions > div {
    flex-wrap: wrap; }
    .wrapActions > div .name {
      flex: 1;
      margin-bottom: 0.75rem; }
    .wrapActions > div .totalValue, .wrapActions > div .variant {
      width: 100%;
      box-sizing: border-box;
      padding-left: calc(120px + 0.75rem); }
    .wrapActions > div .variant {
      margin-top: 0.75rem; }
    .wrapActions > div .actions {
      margin-top: 1.75rem;
      padding-left: calc(120px + 0.75rem);
      align-items: flex-start; }
  .modal-content {
    min-width: 0; }
  .dashboard .tns-inner {
    background-size: 100% 100%; }
  .dashboard .newsfeed .slide > div {
    min-height: 0; }
  .dashboard .tns-outer .tns-nav {
    right: 1.5rem;
    left: auto; }
  .topBar .right .currentGame {
    display: flex;
    align-items: center;
    font-weight: bold; }
  .filters {
    display: block; }
  #rankings .orderBy {
    display: block;
    text-align: left;
    margin: 0; }
  #rankings .nav.nav-tabs {
    display: inline-flex;
    margin-top: 0.75rem; }
  .wrapRanking .position {
    font-size: 0.875rem;
    width: 2rem; }
  .wrapRanking table {
    font-size: 0.8125rem; }
    .wrapRanking table th:first-child {
      text-align: left; }
    .wrapRanking table td:last-child {
      white-space: nowrap; }
  .wrapRanking .nameAndTotal b {
    font-size: 0.875rem; }
  .oldContent {
    padding: 0; }
  .login h2 {
    font-size: 1.5rem; }
  .centered .logo {
    max-width: 60%; }
  .details-graph {
    width: 100%; } }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-5px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

.transition {
  animation: transitionIn .4s ease-out; }

@keyframes transitionY {
  from {
    opacity: 0;
    transform: rotateX(90deg); }
  to {
    opacity: 1;
    transform: rotateX(0deg); } }

.graph-transition {
  animation: transitionY 1s ease; }

.portfolio-graph {
  height: 16.5rem; }

.details-graph {
  height: 20rem;
  width: 55vw; }

.clicky {
  cursor: pointer; }
