@charset "UTF-8";
h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.75rem;
  color: #508991;
  line-height: 105%;
  letter-spacing: -0.01em; }

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.25rem;
  line-height: 105%;
  letter-spacing: -0.01em;
  font-weight: 700;
  margin-bottom: 2rem; }
  h2:after {
    content: "";
    display: block;
    height: 2px;
    margin-top: 0.25rem;
    width: 2.25rem;
    background-color: #81C14B; }

h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700; }

h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  line-height: 105%;
  letter-spacing: -0.01em; }

.text {
  line-height: 1.7; }
  .text > :first-child {
    margin-top: 0; }
  .text > :last-child {
    margin-bottom: 0; }
  .text a {
    text-decoration: underline;
    color: #74B3CE; }
  .text p:last-child {
    margin-bottom: 0; }
  .text ul {
    margin-left: 0;
    padding-left: 0; }
  .text ul > li {
    list-style: none;
    list-style-image: none;
    padding-left: 1rem;
    margin-left: 0;
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.3; }
    .text ul > li:before {
      content: "";
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      color: #74B3CE;
      position: absolute;
      left: 0;
      top: 0.125rem; }

p,
ul,
ol {
  margin: 0 0 1rem 0; }

a {
  text-decoration: underline;
  color: #74B3CE; }
  a:hover, a:active {
    text-decoration: none;
    color: #74B3CE; }

img {
  vertical-align: middle;
  max-width: 100%; }

.btn {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none !important;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  background: #81C14B;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.25s; }
  .btn:hover {
    background: #468412;
    color: #fff; }
  .btn.big {
    font-size: 1.375rem; }

.form-group.flex {
  display: flex;
  align-items: center;
  margin-top: 1.5rem; }
  .form-group.flex input, .form-group.flex button {
    margin-right: 1rem; }
    .form-group.flex input:last-child, .form-group.flex button:last-child {
      margin-right: 0; }

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]) {
  color: #172A3A;
  height: 3rem;
  padding: 0 1.125rem;
  font-size: 1.125rem;
  width: 100%;
  border: 1px solid #172A3A;
  transition: border-color 0.5s; }
  input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):focus {
    border-color: #81C14B;
    box-shadow: none; }

input:-webkit-autofill::first-line {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; }

input[type="submit"],
button[type="submit"],
input[type="button"] {
  border-radius: 9999px;
  background: #81C14B;
  color: #fff;
  border: none;
  padding: 0 1.625rem;
  font-weight: 700;
  outline: 0;
  border: 0;
  height: 3rem;
  box-sizing: border-box;
  border: 2px solid #81C14B; }
  input[type="submit"]:active, input[type="submit"]:focus,
  button[type="submit"]:active,
  button[type="submit"]:focus,
  input[type="button"]:active,
  input[type="button"]:focus {
    border: 2px solid #FFF;
    outline: 1px solid #172A3A;
    background-color: #81C14B;
    box-shadow: none;
    color: #fff; }
    input[type="submit"]:active:focus, input[type="submit"]:active:hover, input[type="submit"]:focus:focus, input[type="submit"]:focus:hover,
    button[type="submit"]:active:focus,
    button[type="submit"]:active:hover,
    button[type="submit"]:focus:focus,
    button[type="submit"]:focus:hover,
    input[type="button"]:active:focus,
    input[type="button"]:active:hover,
    input[type="button"]:focus:focus,
    input[type="button"]:focus:hover {
      background-color: #81C14B;
      outline: 1px solid #172A3A;
      border: 2px solid #FFF;
      color: #fff; }
  input[type="submit"]:hover,
  button[type="submit"]:hover,
  input[type="button"]:hover {
    background-color: #468412;
    border: 2px solid #468412; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: #172A3A; }

form label {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem; }

.customCheckbox {
  display: flex; }
  .customCheckbox input {
    position: absolute;
    left: -9999px; }
  .customCheckbox input + span {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    box-sizing: border-box;
    border: 1px solid #1040a1;
    border-radius: 4px;
    margin-right: 1rem; }
  .customCheckbox input:focus + span {
    border-color: #74B3CE; }
  .customCheckbox input:checked + span {
    display: flex;
    justify-content: center;
    align-items: center; }
    .customCheckbox input:checked + span:before {
      content: "";
      font-family: "Font Awesome 5 Pro";
      display: inline-block;
      font-size: 0.875rem;
      font-weight: 700;
      display: block; }

.hint {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.checkbox {
  margin-top: 1.125rem; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: #172A3A;
  font-size: 16px;
  background-color: #fff; }

body {
  position: relative;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start; }

.wrapAll {
  flex: 1 0 auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #172A3A; }
  .wrapAll.loginBody {
    overflow: hidden;
    position: relative;
    padding: 0 2.25rem; }
    .wrapAll.loginBody + footer {
      position: absolute;
      bottom: 0; }
    .wrapAll.loginBody:before {
      content: "";
      width: 800px;
      height: 800px;
      background: #81C14B;
      display: block;
      position: absolute;
      top: -460px;
      left: -460px;
      transform: rotate(25deg);
      outline: 6px solid #172A3A;
      outline-offset: 1rem; }
    .wrapAll.loginBody:after {
      content: "";
      width: 800px;
      height: 800px;
      background: #81C14B;
      display: block;
      position: absolute;
      bottom: -460px;
      right: -460px;
      transform: rotate(25deg);
      outline: 6px solid #172A3A;
      outline-offset: 1rem; }

.wrapper {
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  position: relative; }

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .centered .logo {
    max-width: 600px;
    margin: 0 auto 5rem; }

.loginChoices {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  text-align: center; }
  .loginChoices .btn {
    margin-bottom: 2rem; }

footer {
  text-align: center;
  width: 100%; }

.topBar {
  height: 3.75rem;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .topBar .left {
    display: flex;
    width: 50%;
    flex-shrink: 0; }
    .topBar .left .logo {
      width: 160px;
      padding: 0.75rem;
      box-sizing: border-box;
      flex-shrink: 0; }
      .topBar .left .logo a {
        width: auto;
        padding: 0;
        border: 0; }
        .topBar .left .logo a:hover {
          background-color: transparent; }
  .topBar .right {
    display: flex;
    width: 50%;
    flex-shrink: 0;
    justify-content: flex-end;
    height: 100%; }
    .topBar .right .currentGame {
      border-left: 1px solid #ddd;
      padding: 0.5rem;
      text-align: left; }
      .topBar .right .currentGame .label {
        color: #172A3A;
        font-weight: 700;
        font-size: 1.125rem;
        text-align: left;
        padding: 0; }
      .topBar .right .currentGame .value {
        white-space: nowrap;
        font-weight: 500; }
        .topBar .right .currentGame .value a {
          display: inline;
          font-size: 0.875rem;
          border: 0;
          font-weight: 400;
          color: #81C14B; }
          .topBar .right .currentGame .value a:hover {
            background-color: transparent; }
    .topBar .right form {
      display: flex;
      height: 100%; }
  .topBar a, .topBar button {
    width: 3.75rem;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    height: 100%;
    display: flex;
    background: transparent;
    padding: 0;
    border-radius: 0;
    color: #172A3A;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.25s; }
    .topBar a:hover, .topBar button:hover {
      background-color: #81C14B;
      color: #FFF; }

.app {
  height: calc(100% - 3.75rem);
  display: flex; }
  .app .leftBar {
    width: 3.75rem;
    border-right: 1px solid #ddd;
    height: 100%; }
    .app .leftBar a {
      width: 3.75rem;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      height: 3.75rem;
      display: flex;
      background: transparent;
      padding: 0;
      border-radius: 0;
      color: #172A3A;
      margin: 0;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      transition: all 0.25s;
      text-decoration: none; }
      .app .leftBar a:hover {
        background-color: #81C14B;
        color: #FFF; }
  .app .mainWindow {
    width: calc(100% - 3.75rem);
    box-sizing: border-box; }

@media screen and (max-width: 1280px) {
  .wrapAll.loginBody:before {
    top: -51.25rem;
    left: -25rem; }
  .wrapAll.loginBody:after {
    bottom: -51.25rem;
    right: -25rem; } }

@media screen and (max-width: 768px) {
  html {
    height: auto; }
  .login.centered {
    padding: 0 1.5rem; }
    .login.centered .loginChoices {
      padding: 0 3rem; }
  .wrapAll.loginBody:before {
    top: -51.25rem;
    left: -36.25rem; }
  .wrapAll.loginBody:after {
    bottom: -51.25rem;
    right: -36.25rem; }
  h2 {
    font-size: 1.75rem; }
  .centered .logo {
    margin-bottom: 3rem; } }
